html,
body {
	scroll-behavior: smooth;
}

.scroll-down {
	animation: move cubic-bezier(0.6, -0.28, 0.735, 0.045) 2s infinite;
}

@keyframes move {
	0% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(15%);
	}
	50% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(15%);
	}
	100% {
		transform: translateY(0);
	}
}

.home-slider {
	overflow: hidden;
}

.slide_wrapper .slick-next {
	right: 30px;
	z-index: 10;
}

.slide_wrapper .slick-prev {
	left: 20px;
	z-index: 10;
}

.slide_wrapper .slick-prev:before,
.slide_wrapper .slick-next:before {
	font-size: 28px;
}

.slick-track {
	display: flex !important;
}

.slide_wrapper .slick-slide {
	height: inherit !important;
	margin: 0 8px;
}

.slide_wrapper .slick-list {
	margin: 0 -8px;
}

.slick-slide > div {
	height: 100%;
	display: flex;
}

.home-slider::before {
	content: "";
	height: 100%;
	position: absolute;
	top: 0;
	width: 75px;
	z-index: 1;
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4), transparent);
	left: 0px;
	border-radius: 0.5rem 0 0 0.5rem;
}

.home-slider::after {
	content: "";
	height: 100%;
	position: absolute;
	top: 0;
	width: 75px;
	z-index: 1;
	background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.4), transparent);
	right: 0;
	border-radius: 0 0.5rem 0.5rem 0;
}

.home-stats-item {
	width: auto;
}

.dorahacksSpan {
	background: linear-gradient(100deg, #7f4ec7 11.46%, #5594f1 42.58%, #58de98 50%, #5594f1 57.42%, #7f4ec7 88.54%) 100%/200%
		100%;
	-webkit-background-clip: text;
	color: transparent;
	background-position: 100% center;
}

.home-line1 {
	background-image: linear-gradient(180deg, transparent, #ff761c);
	border-radius: 9px;
	box-shadow: 0 2px 30rem #ff761c14;
	inset: -1px;
	position: absolute;
	z-index: -1;
}

.logos {
	border-bottom-right-radius: 8px;
	bottom: 0;
	left: 50%;
	overflow: hidden;
	position: absolute;
}

.iconLogo {
	background-color: #fff;
	border: 1px solid #e5e5e9;
	border-radius: 13px;
	position: absolute;
}

.icon1 {
	width: 78px;
	height: 78px;
	padding: 8px;
	top: 49px;
	left: 17px;
}
.icon2 {
	width: 75px;
	height: 75px;
	padding: 9px;
	top: 86px;
	left: 120px;
}
.icon3 {
	width: 80px;
	height: 80px;
	padding: 8px;
	top: 36px;
	left: 215px;
}
.icon4 {
	width: 65px;
	height: 65px;
	padding: 7px;
	top: 13px;
	left: 344px;
}
.icon5 {
	width: 86px;
	height: 86px;
	padding: 9px;
	top: 96px;
	left: 354px;
}
.icon6 {
	width: 74px;
	height: 74px;
	padding: 9px;
	top: 61px;
	left: 459px;
}
.icon7 {
	width: 69px;
	height: 69px;
	padding: 7px;
	top: 110px;
	left: 541px;
}
.icon8 {
	width: 69px;
	height: 69px;
	padding: 7px;
	top: 23px;
	left: 600px;
}
@media only screen and (max-width: 1535px) {
	.icon1 {
		width: 61px;
		height: 61px;
		padding: 7px;
		top: 40px;
		left: 13px;
	}
	.icon2 {
		width: 61px;
		height: 61px;
		padding: 7px;
		top: 69px;
		left: 95px;
	}
	.icon3 {
		width: 64px;
		height: 64px;
		padding: 7px;
		top: 30px;
		left: 170px;
	}
	.icon4 {
		width: 52px;
		height: 52px;
		padding: 6px;
		top: 11px;
		left: 272px;
	}
	.icon5 {
		width: 68px;
		height: 68px;
		padding: 6px;
		top: 77px;
		left: 280px;
	}
	.icon6 {
		width: 59px;
		height: 59px;
		padding: 7px;
		top: 51px;
		left: 363px;
	}
	.icon7 {
		width: 55px;
		height: 55px;
		padding: 6px;
		top: 88px;
		left: 428px;
	}
	.icon8 {
		width: 55px;
		height: 55px;
		padding: 6px;
		top: 19px;
		left: 474px;
	}
}
@media only screen and (max-width: 767px) {
	.logos {
		left: 0;
	}
	.icon1 {
		width: 38px;
		height: 38px;
		padding: 6px;
		top: 22px;
		left: 12px;
	}
	.icon2 {
		width: 38px;
		height: 38px;
		padding: 6px;
		top: 44px;
		left: 64px;
	}
	.icon3 {
		width: 39px;
		height: 39px;
		padding: 6px;
		top: 18px;
		left: 114px;
	}
	.icon4 {
		width: 32px;
		height: 32px;
		padding: 5px;
		top: 8px;
		left: 170px;
	}
	.icon5 {
		width: 42px;
		height: 42px;
		padding: 6px;
		top: 46px;
		left: 178px;
	}
	.icon6 {
		width: 36px;
		height: 36px;
		padding: 6px;
		top: 33px;
		left: 227px;
	}
	.icon7 {
		width: 34px;
		height: 34px;
		padding: 5px;
		top: 51px;
		left: 268px;
	}
	.icon8 {
		width: 34px;
		height: 34px;
		padding: 5px;
		top: 11px;
		left: 299px;
	}
}
@media only screen and (max-width: 600px) {
	.slide_wrapper .slick-next {
		right: 20px;
	}

	.slide_wrapper .slick-prev {
		left: 10px;
	}

	.home-slider::before,
	.home-slider::after {
		width: 65px;
	}
	.home-stats-item {
		width: calc(50% - 8px);
	}
}
